.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }
  
  .section {
    display: grid;
    gap: 4px;
  }
  
  .title {
    margin: 0;
    font-size: 20px;
  }
  