
.container {
  margin: 10px 0;
  
}

.label {
  color: cornflowerblue;
  font-weight: 700;
}

.input {
  width: 310px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid cornflowerblue;
  border-radius: 4px;
  padding: 10px;
  color: cornflowerblue;
  background-color:antiquewhite;
  font-style: italic;
  }