.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 320px;
    padding: 20px;
    background-color:antiquewhite;
    border: 1px solid cornflowerblue;
    border-radius: 6px;
  }
  
  .text {
    margin: 0;
    font-size: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    font-weight: 700;
    color: cornflowerblue;
  }

  .contactIcon {
   margin-right: 10px;
   color: cornflowerblue;
  }
  
  .btn {
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: cornflowerblue;
    color:antiquewhite;
    font-weight: 500;
    padding: 5px;
  }